#heading {
    color: indianred;
    font-family: monospace;
}

.text-animation {
    font-size: 2rem;
    animation: fadeIn 3s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 20%;
        transform: translateY(20px);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}
